body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

.container {
  padding: 20px;
}

select, button {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

button {
  background: #22c55e;
  color: white;
  cursor: pointer;
}

.card {
  margin-top: 20px;
  background: #1e293b;
  padding: 15px;
  border-radius: 15px;
}

img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;
}